/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Inter:wght@400;500&display=swap");
@font-face {
  font-family: "helvetica-light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/HelveticaNeue-Light.otf") format("opentype");
}
@font-face {
  font-family: "helvetica-regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "helvetica-medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HelveticaNeueMed.ttf") format("truetype");
}
@font-face {
  font-family: "helvetica-bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Helvetica-Bold.ttf") format("truetype");
}
/* Base Css Start */
:root {
  --primary700-main: #522D6E;
  --secondary700-main: #351F45;

  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;
  --font-3xl: 28px;

  --ff-days-one: "Days One", sans-serif;
  --ff-inter: "Inter", sans-serif;
  --helvetica-light: "helvetica-light";
  --helvetica-regular: "helvetica-regular";
  --helvetica-medium: "helvetica-medium";
  --helvetica-bold: "helvetica-bold";
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: var(--helvetica-regular);
  color: #000;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}
p {
  line-height: 1.49;
}
a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;
}
/* Base Css End */

/* header css start */
.header-area {
  top: 54px;
  height: 92px;
}
.header-content-grid {
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 4px #00000040;
  box-shadow: 5px 5px 4px #00000040;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 20px auto;
  grid-template-columns: 140px auto;
  grid-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
}
.logo img {
  width: 124px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.main-menu li:not(:last-child) {
  margin-right: 40px;
}
.main-menu li a {
  color: #000;
  display: inline-block;
}
.main-menu li a:hover {
  color: var(--primary700-main);
}
.main-menu li.active a {
  color: var(--primary700-main);
  text-decoration: underline;
}
.box-btn {
  background-color: var(--primary700-main);
  color: #fff !important;
  border-radius: 4px;
  padding: 12px 20px;
  font-family: var(--ff-days-one);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.box-btn:hover {
  background-color: #9493d2;
}
.header-top {
  padding: 15px 0;
}
.telephones li a {
  color: #fff;
  font-size: 16px;
  font-family: var(--helvetica-light);
  font-weight: 400;
}
/* header css end */

/* hero-area css start */
.hero-area {
	padding-top: 140px;
	padding-bottom: 100px;
	height: 650px;
	overflow: hidden;
}

.social_list li {
  margin-right: 24px;
}
.social_list a img {
  width: 20px;
  height: 20px;
}

.call-icon {
  width: 14px;
  height: 17px;
}
.telephones a .call-icon {
  margin-right: 5px;
}
.telephones li:not(:last-child) {
  margin-right: 60px;
}
.telephones a strong {
  margin-right: 5px;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}
.video_bg {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  width: calc(100% + 2px);
  -o-object-position: center -255px;
  object-position: center -255px;
}
.gv-blk.absolute img {
  background: #fff;
  border-radius: 5px;
  width: 89px;
  padding: 8px;
}
.gv-blk {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.hro-inner-text {
	max-width: 768px;
}
.gv-blk p {
  color: #fff;
  font-size: 9.8px;
  text-align: center;
  line-height: 1.2;
  font-family: var(--helvetica-medium);
  margin-top: 4px;
  margin-bottom: 20px;
}
/* hero-area css end */

/* highlight-area css start */
.highlight-area {
	padding-bottom: 60px;
}
.hero-content-inner h1 {
	color: #fefefe;
	font-family: var(--ff-days-one);
	font-size: 60px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 10px;
}
.hro-inner-text p {
  color: #fefefe;
  font-family: var(--helvetica-regular);
  font-size: 16px;
}
.hero-content-inner h1 span.sub {
  font-size: 20px;
  margin-bottom: 8px;
}
.hero-content-inner {
	padding-top: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding-bottom: 50px;
	align-items: center;
	text-align: center;
}
.highlight-left p {
  margin-bottom: 30px;
}
.highlight-left {
  padding: 40px 50px;
}
.trans-traingle {
  right: -5px;
  bottom: -5px;
  max-width: 410px;
}
.highlight-left p {
  margin-bottom: 30px;
  color: var(--primary700-main);
  font-family: var(--font-family-helvetica_neue-medium);
}

.highlight-right img {
  max-height: 95%;
}
.items_end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.highlight-two-blk {
	border-radius: 5px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 100px 15px auto;
	grid-template-columns: 100px auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	grid-gap: 20px;
}


/* highlight-area css end */

/* network-area css start */

.nt {
  right: 0;
  bottom: 0;
  max-height: 100%;
}
.highlight-two-blk h6 {
	font-size: 34px;
	font-family: var(--ff-days-one);
	color: #fff;
	line-height: 1;
	letter-spacing: -0.8px;
	text-align: right;
}
.highlight-two-blk p {
	font-size: 14px;
}
.ot-img {
  margin-bottom: 40px;
}
.ot-img img {
  max-height: 60px;
}
.nt-content {
  max-width: 350px;
}
.highlight-two-blk.type-2 {
  margin-bottom: 16px;
}
.nt-content .box-btn {
  margin-top: 28px;
}
.nt-img {
	right: 0;
	bottom: 0;
	max-width: 200px;
}
.integration-badge.trans {
	bottom: 23px;
	position: absolute;
	right: 50px;
}
.nt-img.two.absolute {
	max-width: 242px;
}
/* network-area css end */

/* marquee-area css start */
.marquee-area {
	background-color: var(--secondary700-main);
	height: 64px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}
.marquee-list li {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  position: relative;
  padding-left: 31px;
  margin-right: 48px;
}
.marquee-list li::before {
  content: "";
  background-image: url(../img/ok-white.svg);
  width: 22px;
  height: 22px;
  position: absolute;
  background-position: center;
  background-size: contain;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* marquee-area css end */

/* partners-area css start */
.secondary-title {
  font-family: var(--helvetica-bold);
  font-size: 28px;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}
.brand-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.brand-images img {
  max-height: 80px;
  margin: 10px;
}
.partners-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 20px auto;
  grid-template-columns: 350px auto;
  grid-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.partners-area {
  background-color: #f9f7ff;
  padding: 40px 0;
}
/* partners-area css end */

/* process-area css start */

.process-g-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.single-process {
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 21px 0px rgba(164, 164, 164, 0.25);
  box-shadow: 0px 5px 21px 0px rgba(164, 164, 164, 0.25);
  padding: 30px;
}
.process-head .icon {
  width: 95px;
  height: 95px;
  background-color: var(--primary700-main);
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
}
.process-head .icon img {
  max-height: 100%;
}
.process-head h5 {
  color: #000;
  font-family: var(--ff-days-one);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.5px;
}
.process-head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95px 16px auto;
  grid-template-columns: 95px auto;
  grid-gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}
.process-list li {
  color: #000;
  font-family: var(--helvetica-medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  padding-left: 32px;
}
.process-list li::before {
  content: "";
  background-image: url(../img/ok.svg);
  width: 23px;
  height: 23px;
  position: absolute;
  background-position: center;
  background-size: contain;
  left: 0;
  top: 0px;
}
.process-list li:not(:last-child) {
  margin-bottom: 18px;
}

.primary-title {
  color: #090a09;
  font-size: 40px;
  font-family: var(--ff-days-one);
  margin-bottom: 15px;
}
.section-title {
  margin-bottom: 48px;
}

.process-trans {
  width: 100%;
  height: auto;
  bottom: -60px;
}
.process-area {
  padding-bottom: 80px;
  overflow: hidden;
  padding-top: 80px;
}
.process-area .section-title {
  margin-bottom: 65px;
}
/* process-area css end */

/* supply-area css start */
.supply-wrapper {
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 21px 0px rgba(164, 164, 164, 0.25);
  box-shadow: 0px 10px 21px 0px rgba(164, 164, 164, 0.25);
  padding: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 2fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 40px;
}
.help-content h6 {
  font-size: 18px;
  color: #000;
  font-family: var(--helvetica-bold);
  font-weight: 700;
  margin-bottom: 2px;
}
.help-content p {
  font-size: 13px;
  font-family: var(--helvetica-medium);
}
.help-list li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 12px auto;
  grid-template-columns: 60px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 12px;
  margin-bottom: 20px;
}
.secondary-title.f_days_one {
  font-family: var(--ff-days-one);
  font-weight: 400;
}
.supply-wrapper .secondary-title {
  margin-bottom: 40px;
}
.supply-area {
	padding-top: 80px;
	padding-bottom: 50px;
}
.image-2-wrap .img-2 {
	width: 130px;
}
.image-2-wrap {
  margin-bottom: -40px;
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.image-2-wrap .lgo {
	width: 124px;
	margin-right: 50px;
}
.shape-1,
.shape-2 {
  width: 235px;
}
.outer-for-responsive {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.supply-part .process-list.plc-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  margin-top: -25px;
}
.supply-part .process-list.plc-2 li:not(:last-child) {
  margin-bottom: 10px;
}
/* supply-area css end */

/* recruitment-area css start */
.recruitment-g-wrapper {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 24px 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	margin-top: -120px;
	margin-bottom: 20px;
}
.recruitment-single {
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
  text-align: center;
  padding-top: 0;
}

.recruitment-lgo {
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  width: 215px;
  height: 118px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  margin-bottom: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
}
.recruitment-single p {
  margin-bottom: 22px;
}
.recruitment-area {
  padding-bottom: 90px;
  padding-top: 260px;
}
.rq-bg {
  background-size: cover;
  background-position: center top;
}
/* recruitment-area css end */

/* network-area css start */

.network-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.network-wrapper {
  background-color: var(--secondary700-main);
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px #522D6E;
  padding: 40px;
  color: #fff;
}
.network-area {
	padding-top: 65px;
}
.testimonial-area {
	padding-bottom: 60px;
	overflow: hidden;
}
.testimonial-area .section-title h2 {
	margin-bottom: 0;
}
.shadow_top {
	-webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.10);
}
.home .hero-content-inner {
	padding-top: 45px;
}
/* network-area css end */

/* footer css start */
.ft-top-zone {
	background-color: var(--secondary700-main);
	padding: 65px 0;
}
.ft-logo img {
  width: 150px;
}
.ft-logo {
  margin-bottom: 40px;
}
.footer-top-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 30px 1fr 30px 1fr 30px 0.8fr 30px 1.5fr;
  grid-template-columns: 0.7fr 1fr 1fr 0.8fr 1.5fr;
  grid-gap: 30px;
}
.ft-links li a,
.address p {
  color: #fff;
  font-family: var(--ff-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.footer-widget h4 {
  margin-bottom: 10px;
}
.ft-links li:not(:last-child) {
  margin-bottom: 10px;
}
.ft-links li a:hover {
  text-decoration: underline;
}
.address p {
  line-height: 1.6;
}
.footer-widget h4 {
  margin-bottom: 10px;
  font-family: var(--ff-days-one);
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.ft-links li:not(:last-child) {
  margin-bottom: 10px;
}
.ft-links li a:hover {
  text-decoration: underline;
}
.address p {
  line-height: 1.6;
}
.search input {
  border: 1px solid #fff;
  height: 40px;
  border-radius: 5px;
  color: var(--black-2);
  font-size: 15px;
  padding: 0 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.search input:focus {
  outline: none;
  border-color: #9493d2;
}
.search button {
  right: 0;
  height: 100%;
  width: 80px;
  border-radius: 0 5px 5px 0;
  border: 0;
  background-color: #9493d2;
  color: #fff;
  font-weight: 600;
  font-family: var(--helvetica-regular);
  font-size: 15px;
  cursor: pointer;
}
.ft-bottom-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 0;
}
.ft-links.terms li a {
  color: #010101;
  display: inline-block;
  font-size: 14px;
  font-family: var(--ff-inter);
  font-weight: 400;
}
.ft-links.terms li:not(:last-child) {
  margin-right: 28px;
  margin-bottom: 0;
}

.footer-widget.email {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.footer-widget.partners {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}
.partners .ft-links.terms li a {
  color: #fff;
}
.search {
  margin-top: 17px;
  max-width: 480px;
}
.social_list.footer {
  margin-top: 30px;
}
.social_list.footer a img {
  width: 24px;
  height: 24px;
}
.ft-trans {
  height: 100%;
  top: 0;
}
.ft-trans.left {
  left: 0;
}
.ft-trans.right {
  right: 0;
}
.copyright-text p a {
  color: var(--black-2);
  text-decoration: underline;
}
.ft-links.emails li a,
.para .mail {
  font-size: 14px;
  text-decoration: underline;
  font-family: var(--helvetica-medium);
  font-weight: 500;
}
.copyright-text p {
  font-size: 14px;
  font-family: var(--ff-inter);
  font-weight: 400;
  color: #010101;
}

.footer-widget.form {
  text-align: right;
}
.integration-badge {
  margin-bottom: 15px;
}
.social_list.footer li:last-child {
  margin-right: 0;
}
/* footer css end */

/* mobile menu css start */
.mobile-menu-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: 290px;
  background: #fff;
  z-index: 99;
  height: 100vh;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.mobile-menu-wrapper.show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.close-mobile-menu {
  display: inline-block;
  cursor: pointer;
  margin: 12px;
}
.close-mobile-menu svg {
  width: 40px;
  height: 40px;
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  content: "";
  top: 0;
  left: 0;
  z-index: 98;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  cursor: pointer;
}
.overlay.show {
  opacity: 0.6;
  visibility: visible;
}

.mobile-menu {
  padding: 20px;
  padding-top: 0;
}
.mobile-menu li a {
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: var(--primary700-main);
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-family-helvetica_neue-bold);
  letter-spacing: 0.4px;
}
.mobile-menu li a:hover {
  color: rgba(82, 45, 110, 0.8);
}
.mobile-menu li {
  margin-bottom: 10px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
}
.toggle-bar {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.toggle-bar svg {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(1px) translateX(7px);
  -ms-transform: translateY(1px) translateX(7px);
  transform: translateY(1px) translateX(7px);
}
.toggle-bar svg path {
  fill: #522d6e;
}
/* mobile menu css end */

/* testimonial page css start */
.hro_bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center top;
}
.hro_bg::after,
.hro_bg::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.hro_bg::after {
	background-color: #010101;
  opacity: .34;

}
.hro_bg::before {
  background: linear-gradient(90deg, rgba(82, 45, 110, 0.00) 74.16%, rgba(9, 10, 9, 0.00) 97.52%);
 
}
.hero-bottom-shape {
  height: 175px;
  bottom: 0;
  width: 100%;
}
.hero-area.type-2 {
  height: 560px;
  padding-bottom: 130px;
}
.type-2 .hero-content-inner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 75px;
  align-items: flex-start;
	text-align: left;
}
/* testimonial page css end */

/* about page css start */

.hero-bottom-wrapper {
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px #a4a4a4;
  box-shadow: 0px 5px 15px 0px #a4a4a4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -150px;
  position: relative;
  background-color: #fff;
  z-index: 50;
  overflow: hidden;
}
.hero-bottom-wrapper .sec-img {
  height: 100%;
}
.hero-bottom-wrapper .sec-img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: unset;
}
.hero-bottom-wrapper .cmn-content {
  padding: 50px;
}
.cmn-content p {
  color: var(--primary700-main);
  font-family: var(--helvetica-regular);
  font-weight: 400;
  font-size: 16px;
}
.hero-bottom-wrapper .cmn-content .secondary-title {
  margin-bottom: 40px;
}
.value-g-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.single-value {
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px #a4a4a4;
  box-shadow: 0px 5px 15px 0px #a4a4a4;
  padding: 30px;
  padding-top: 0;
  text-align: center;
  margin-top: 50px;
}
.value-icon {
  width: 95px;
  height: 95px;
  background-color: var(--primary700-main);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  margin-top: -47px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.value-content h5 {
  font-size: 22px;
  font-family: var(--ff-days-one);
  font-weight: 400;
  margin-bottom: 15px;
}
.value-content p {
  font-size: 15px;
  color: var(--primary700-main);
  font-family: var(--helvetica-medium);
}
.value-area {
  padding-top: 80px;
  overflow: hidden;
  padding-bottom: 80px;
}

.ppl-top-wrap {
  box-shadow: 0px 5px 15px 0px #522D6E;
  background-color: var(--secondary700-main);
  border-radius: 5px;
  padding: 50px 40px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.ppl-top-wrap .primary-title {
  color: #fff;
  font-size: 32px;
}
.ppl-top-content p {
	font-size: 14px;
	color: #fff;
	margin-bottom: 10px;
}
.ppl-top-content h5, .ppl-bottom-wrap .secondary-title {
  color: #fff;
  font-size: 24px;
  font-family: var(--helvetica-medium);
}
.ppl-overlay-1 {
  bottom: 0;
  left: 0;
  max-height: 100%;
  max-width: 90%;
}
.ppl-area {
	padding-top: 80px;
}
.ppl-bottom-wrap {
  box-shadow: 0px 5px 15px 0px #522D6E;
  background-color: var(--secondary700-main);
  border-radius: 5px;
  padding: 50px 40px;
}

.mission-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 55px;
}
.mission-wrap p {
  color: #fff;
  font-size: 15px;
  line-height: 26px;
}
.numbering {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-family: var(--ff-days-one);
  font-size: 32px;
  color: #010101;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
.ppl-bottom-wrap .secondary-title {
	margin-bottom: 45px;
	line-height: 1.4;
}
.ppl-overlay-2 {
	right: 0;
	bottom: 0;
	max-height: 100%;
	max-width: 90%;
	z-index: ;
}
/* about page css end */

/* team page css start */
.team-member {
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px #a4a4a4;
  box-shadow: 0px 5px 15px 0px #a4a4a4;
  padding: 20px;
  text-align: center;
  margin-top: 75px;
  padding-top: 0;
  position: relative;
  width: 284px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}
.team-member::before {
  position: absolute;
  width: 0px;
  height: 40px;
  border-right: 2px dashed var(--primary700-main);
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: calc(100% + 80px);
}
.team-outer-wrap .team-rw:not(:last-child) {
  margin-bottom: 55px;
}
.team-rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.team-rw::before {
  position: absolute;
  top: -45px;
  width: 560px;
  height: 0px;
  border-top: 2px dashed var(--primary700-main);
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.team-rw.three::before {
	width: 607px;
}
.team-rw.two::before {
  width: 303px;
}
.team-rw.four::before {
  width: 914px;
}
.team-rw.five::before {
  width: 974px;
}
.thumbnail img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #9393d1;
  display: block;
}
.thumbnail {
  text-align: center;
  margin-top: -75px;
  margin-bottom: 15px;
}
.team-member h5 {
  font-size: 20px;
  font-family: var(--ff-days-one);
  font-weight: 400;
  margin-bottom: 6px;
}
.team-member p {
  color: var(--primary700-main);
  font-size: 14px;
  font-family: var(--helvetica-medium);
}

.team-rw.top:before,
.team-rw.bottom::before {
  content: none;
}
.team-area {
  margin-top: 80px;
  padding-bottom: 80px;
  padding-top: 80px;
}
.type-2 .hro-inner-text {
  max-width: 645px;
}
.team-rw.five .team-member {
  width: 224px;
}
/* team page css end */

/* clients page css start */

.hero-bottom-wrapper.normal {
  margin-top: 70px;
}
.cmn-list li {
  font-family: var(--helvetica-medium);
  font-size: 16px;
  margin-bottom: 11px;
  list-style: disc;
  padding-left: ;
  margin-left: 15px;
}
.cmn-list {
  margin-bottom: 30px;
}
.cmn-content .link {
  color: var(--primary700-main);
  text-decoration: underline;
}
.cmn-content p:not(:last-child) {
  margin-bottom: 24px;
}
.hero-bottom-wrapper.bg_primary {
	background-color: var(--secondary700-main);
}
.bg_primary .cmn-content p,
.bg_primary .cmn-content .secondary-title {
  color: #fff;
}
.box-btn.bg_white {
  background-color: #fff;
  color: var(--primary700-main) !important;
}
.hero-bottom-wrapper .box-btn {
  font-family: var(--helvetica-regular);
}

.normal .secondary-title {
  font-family: var(--ff-days-one);
  margin-bottom: 28px !important;
}
.normal p {
  color: #000;
}
.normal.mb_80,
.mb-80 {
  margin-bottom: 70px;
}

.cmn-list.primary li {
  color: var(--primary700-main);
}
.sec-img .gv {
  width: 100px;
  height: 100px !important;
  -o-object-fit: unset !important;
  object-fit: unset !important;
  left: 24px;
  bottom: 24px;
}
.hero-bottom-area.pb-80 {
	padding-bottom: 35px;
}
.candidate-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* clients page css end */

/* contact page css start */

.hero-bottom-wrapper.contact {
  padding: 40px;
}
.input-inside input,
.input-inside textarea {
  width: 100%;
  height: 42px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  color: #010101;
  font-size: 14px;
  padding: 0 15px;
  font-family: var(--helvetica-regular);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.input-inside input::-webkit-input-placeholder,
.input-inside textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #010101;
}
.input-inside input::-moz-placeholder,
.input-inside textarea::-moz-placeholder {
  opacity: 1;
  color: #010101;
}
.input-inside input:-ms-input-placeholder,
.input-inside textarea:-ms-input-placeholder {
  opacity: 1;
  color: #010101;
}
.input-inside input::-ms-input-placeholder,
.input-inside textarea::-ms-input-placeholder {
  opacity: 1;
  color: #010101;
}
.input-inside input::-webkit-input-placeholder,
.input-inside textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #010101;
}
.input-inside input::-moz-placeholder,
.input-inside textarea::-moz-placeholder {
  opacity: 1;
  color: #010101;
}
.input-inside input:-ms-input-placeholder,
.input-inside textarea:-ms-input-placeholder {
  opacity: 1;
  color: #010101;
}
.input-inside input::-ms-input-placeholder,
.input-inside textarea::-ms-input-placeholder {
  opacity: 1;
  color: #010101;
}
.input-inside input::placeholder,
.input-inside textarea::placeholder {
  opacity: 1;
  color: #010101;
}
.input-inside input:focus,
.input-inside textarea:focus {
  border-color: var(--primary700-main);
  outline: none;
}
.twin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}
.input-inside {
  margin-bottom: 16px;
}
.input-inside textarea {
  height: 136px;
  padding-top: 10px;
  padding-bottom: 10px;
}
form .box-btn {
  width: 100%;
  border: 0;
  border-radius: 1px;
  height: 42px;
  padding-top: 0;
  padding-bottom: 0;
}

.para-title {
  font-family: var(--ff-days-one);
  font-size: 16px;
  color: var(--primary700-main);
  font-weight: 400;
  margin-bottom: 14px;
}
.para-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.para-grid p strong {
  font-family: var(--ff-days-one);
  display: block;
}
.para-grid p {
  color: #010101;
  font-size: 14px;
  font-family: var(--helvetica-regular);
}
.para p:not(:last-child) {
  margin-bottom: 12px;
}
.para .mail {
  color: #010101;
}
.contact-left .integration-badge {
  margin-top: 15px;
  margin-bottom: 0;
}
.para.full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-top: -15px;
}
/* checkbox css start */
.checkbox-wrap {
  display: block;
  width: 28px;
  height: 28px;
}
.checkbox-wrap input[type="checkbox"] {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  visibility: visible;
  position: absolute;
}
.checkbox-wrap .checkbox {
  background: #fff;
  -webkit-box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: block;
}
.checkbox-wrap .checkbox::after {
  content: "";
  left: 11px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid var(--primary700-main);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.checkbox-wrap input:checked + .checkbox::after {
  opacity: 1;
  visibility: visible;
}
.terms-check-wrap .checkbox-wrap {
  margin-right: 12px;
  min-width: 28px;
}
.terms-check-wrap p {
  font-size: 13px;
  font-family: var(--ff-days-one);
  font-weight: 400;
  line-height: 1.3;
}
.terms-check-wrap p a {
  color: #000;
  text-decoration: underline;
}
.terms-check-wrap p a:hover {
  color: var(--primary700-main);
}
.terms-check-wrap {
  margin-bottom: 15px;
}
/* checkbox css end */
.hero-bottom-wrapper.contact {
	margin-bottom: 35px;
}
/* contact page css end */

/* terms-policy page css start */
.tp-blk p {
  line-height: 1.5;
  font-size: 13px;
  font-family: var(--ff-days-one);
  font-weight: 400;
}
.tp-blk p br {
  margin-bottom: 10px;
}
.terms-policy-area {
  padding: 50px 0;
  padding-bottom: 60px;
}
/* terms-policy page css end */
